.marquee {
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  margin-top: 1rem;
  /* margin-left: 6rem;
  margin-right: 6rem; */
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
}
.marquee__content {
  animation: scroll 10s linear infinite;
}
/* .partner-stats {
  animation: 3s slideInFromLeft;
} */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    filter: blur(5px);
  }
  to {
    transform: translateX(0);
    filter: blur(0);
  }
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
